

.about-wrapper{
    
    ._DblQBlAM__container{
        max-width: 1260px;
    }
    ._DblQBlAM__filter{
        background-color: rgba(0, 0, 0, 0);
    }
    .grid__colum{
        padding: 0px;
    }
    .sp1{
        font-weight: bold;
    }
    
    ._DblQBlAM__container{
        max-width: 1170px;
    }
    .pb-tablet--three-twelfths{
        padding: 15px;
    }
}