.item-wrapper {
  height: 250px;
  width: 200px;
  img.item_img {
    height: 200px;
    width: 200px;
    background: #f5f5f5;
  } 
  .image-slider-wrapper{
    display:none;
    .img-in-slider{
      height: 40px;
      width: 40px;
    }
  } 
  .image-slider-wrapper.hovered{
    display:block;
    .img-in-slider{
      height: 60px;
      width: 60px;
    }
  } 
}

