.main {
    position: relative;
    .content_category_wrapper {
        overflow: hidden;
        margin-top: 295px;
        .items-wrapper {
            float: right;
            width: calc(100% - 310px)
        }
    }
    .content-area {
        margin-top: 134px;
        overflow: hidden;
    }
}